.MWindow {
	-light-black: rgb(74, 75, 78);
    -dark-highlight: rgb(87, 89, 92);
    -dark-black: rgb(39, 40, 40);
    -darkest-black: rgb(5, 5, 5);
    -mid-gray: rgb(216, 222, 227);
    -fx-background-color: -mid-gray;
}

.MTrimBar {
	-fx-base: -dark-black;
    -fx-font-size: 12pt;
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-base,-30%), derive(-fx-base,-60%)),
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-effect: dropshadow(two-pass-box,black,5,.2,0,0);
}


.tool-bar {
	-fx-background-color: transparent;
	-fx-padding: .9em 0.416667em .9em 0.416667em;
}

.efxSelectedRadioToolButton {
	-light-black: orange;
	-dark-black:  orange;
}

.segmented-button-bar .button {
    -fx-background-color:
        -darkest-black,
        -dark-highlight,
        linear-gradient(to bottom, -light-black 2%, -dark-black 98%);
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0;
    -fx-padding: 0.4em 1.833333em 0.4em 1.833333em;
}

.segmented-button-bar .button.first {
    -fx-background-insets: 0, 1, 2 1 1 1;
    -fx-background-radius: 3 0 0 3, 2 0 0 2, 2 0 0 2;
}

.segmented-button-bar .button.last {
    -fx-background-insets: 0, 1 1 1 0, 2 1 1 1;
    -fx-background-radius: 0 3 3 0, 0 2 2 0, 0 2 2 0;
}
 
.segmented-button-bar .button:pressed {
    -fx-background-color:
        -darkest-black,
        rgb(55, 57, 58),
        linear-gradient(to top, -light-black 2%, -dark-black 98%);
}



#decorationArea {
    -fx-padding: 10px;
    -fx-background-image: url("images/top-bar.png"),
                          url("images/clef.png");
    -fx-background-size: cover, contain;
    -fx-background-position: left top, center center;
    -fx-background-repeat: no-repeat;
}

#window-resize-button {
    -fx-background-image: url("images/window-corner.png");
    -fx-background-position: right 1px bottom 1px;
    -fx-background-repeat: no-repeat;
}
#window_close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-close.png");
    -fx-padding: 6 6 4 6;
}
#window_min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-min.png");
    -fx-padding: 6 6 4 6;
}
#window_max {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("images/window-expand.png");
    -fx-padding: 6 6 4 6;
}
#window_close:hover {
    -fx-background-image: url("images/window-close-over.png");
}
#window_min:hover {
    -fx-background-image: url("images/window-min-over.png");
}
#window_max:hover {
    -fx-background-image: url("images/window-expand-over.png");
}

.sample-tile {
    -fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
    -fx-text-fill: white;
    -fx-graphic-hpos: center;
    -fx-graphic-vpos: top;
    -fx-alignment: center;
    -fx-padding: 4px 4px 3px 4px;
    -fx-font-size: 14px;
}

.sample-tile .text {
     -fx-font-smoothing-type: lcd;
}

.sample-tile:hover {
    -fx-effect: dropshadow( three-pass-box , white , 8 , 0.4 , 0 , 0 );
}
.sample-tile:focused {
    -fx-effect: dropshadow( three-pass-box , derive(-fx-focus-color, 20%), 12 , 0.6 , 0 , 0 );
}

.title-label {
    -fx-text-fill: #666666;
    -fx-alignment: center;
    -fx-font-size: 40px;
    -fx-padding: 4px 4px 4px 4px;
}
